article {
	line-height: 1.3rem;
}

a {
	color: var(--st);
}

img {
	display: block;
	margin: 0 auto;
}

aside {
	float: right;
	width: 100px;
	margin: 0.5rem 1rem;
	font-family: 'Courier New', Courier, monospace;
	font-size: 0.9rem;
}

aside.toc {
	margin-left: 1rem;
	width: max-content;
	min-width: 300px;
	float: none;
	left: 4rem;
	--toc-hover-color: var(--pl);
	--toc-active-color: var(--pt);
	--toc-active-bg: var(--p);
	--toc-mobile-bg: var(--s);
}

aside.toc li {
	padding: 0.2rem 0.4rem;
}

.code-label {
	background: linear-gradient(to right, var(--pd), var(--p));
	padding: 0.5rem;
	margin-bottom: -0.5em;
	font-family: var(--font-mono);
}

.info {
	padding: 0 1rem 1rem;
	margin: 1rem 0;
	border: 2px solid var(--p);
	border-radius: 0.5rem;
	background-color: var(--sl);
	font-size: 0.9rem;
}
